.footer-container h1  {
    font-size: 19px;
    padding-bottom: 48px;
}
.footer-container .subLink > li{
    padding-bottom: 8px;
    color: #818b9b;
    font-size: 17px;
    transition: 0.5s;
    cursor: pointer;
}
.footer-container ul > li:hover{
    color: #9548ef;
    padding-left: 5px;
}